/* #region RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 7168px;
    width: 1909px;
    font-family: 'Open Sans', sans-serif;
}


img {
    max-width: 100%;

}

a.button-blu{
    text-decoration: none;
}

nav {
    background-color: #ffffff;
    height: 80px;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: auto;
    bottom: auto;





}

nav ul li a,
.ul-sing-pack

{
    text-decoration: none;
    color: black;
}

.dsnav {
    display: flex;
    justify-content: start;
    margin: 20px;
    gap: 39px;
    align-items: center;





}

.snnav {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 39px;
    margin: 20px;

}

nav ul li button {
    background-color: #0061ff;
    color: white;
    border: none;
    padding: 10px;
    height: 24px;
    width: 64;
    align-items: center;
    padding-bottom: 3px;
    display: flex;


}

ul {
    list-style-type: none;
}

.azurrerettangle {
    width: 1909px;
    height: 737px;
    background-color: #b4d0e7;
    display: flex;

}

.container {


    max-width: 1200px;
    margin: 100px auto;
}

main section .container {
    margin-left: 470px;
}

h1 {
    font-size: 77px;
    /* Regola la dimensione dell'h1 secondo le tue esigenze */
    font-family: 'Open Sans', sans-serif;
    /* Imposta il font desiderato */
    font-weight: 800px;
    margin-bottom: 20px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: normal;

}

.col-lf {
    width: 30%;



}

.col-rg {
    width: 70%;
}

.col-s {
    width: 30%;
    margin-top: 50px;
    
    
    
}

.col-s .singpack{
    margin-bottom: 30px;
}
.title-pack{
    margin-bottom: 20px;
}

.ul-sing-pack li {
    margin-bottom: 10px;
}



.button-blu {
    border: none;
    text-align: center;
    color: white;
    background-color: #0061ff;
    width: 225px;
    height: 36px;
    padding: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;

}

.fa-solid {
    font-size: 40px;
    margin-top: 30px;
}

.fa-user,
.fa-euro-sign,
.fa-building,
.fa-people-group {
                             /*freccia nera in giù e euro*/
    font-size: 20px;
}

.title-pack {
    text-align: center;
    display: block;
}

.singpack {
    border: solid 1px;
    
    
    


}

div i {
    text-align: center;
}




.content-pack {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   
    
   

}

.short-hr{
    width: 48px;
}
.fa-check{
    font-size: 20px;
    color: #0061ff;
}

.rettangle-pack{
    text-align: center;
    border: 1px solid;
    margin: auto  ;
    width: 95%;
    height: ;
    
    
    
}

.rettaflex{
    display: flex;
    padding: 20px;
    text-align: start;
    justify-content: space-between;
}

.rettaflex h4{
margin-top: 24px;
margin-bottom: 55px;
   
}
.rettaflex .button-blu{
    margin-top: 2%;
    
}

.content-partner-flex{
    display: flex;
    margin: auto;
    width: 95%;
    padding-right: 200px;
    gap: 30px;
    
}

.button-white{
    border: none;
    text-align: center;
    color: black;
    border: solid 2px;
    max-width: fit-content;
    height: 36px;
    padding: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;

}






















/* #endregion RESET*/